<html>
  <head> </head>
  <body>
    <h1>Welcome!</h1>
    <form method="POST" action="/movies/create">
      <label for="title">Insert Title Here!</label><br />
      <input type="text" id="title" name="title" /><br />

      <label for="releaseYear">Insert Release Year Here!</label><br />
      <input type="text" id="releaseYear" name="releaseYear" /><br />

      <label for="languages">Insert Languages Here!</label><br />
      <input type="text" id="languages" name="languages" /><br />

      <label for="genres">Insert Genres Here!</label><br />
      <input type="text" id="genres" name="genres" /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
